@font-face {
    font-family: 'klavika-light';
    src: url(../../../assets/typography/klavika-light.otf) format('otf');
}

@font-face {
    font-family: 'klavika-medium';
    src: url(../../../assets/typography/klavika-medium.otf) format('otf');
}

@font-face {
    font-family: 'klavika-bold';
    src: url(../../../assets/typography/klavika-bold.otf) format('otf');
}
